<div class="container-xl cardholder padding-100">
  <div class="row" id="trigger3">
    <div class="col-md-4 cardholder__col-left">
      @include('components/shared/common/simple-card/index.html')
      @include('components/shared/common/simple-card/simple_card_2.html')
    </div>
    <div class="col-md-4">
      @include('components/shared/common/simple-card/index.html')
      @include('components/shared/common/simple-card/index.html')
    </div>
    <div class="col-md-4 cardholder__col-right">
      @include('components/shared/common/simple-card/index.html')
      @include('components/shared/common/simple-card/simple_card_2.html')
    </div>
  </div>
  <div class="text-center">
    <button class="custom-btn">find more fun</button>
  </div>
</div>