.cardholder {
  $root: &;

  &__col-left {
    margin-top: 64px;

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  &__col-right {
    margin-top: 32px;

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

}
