<div class="container-xl cardholder layout__section--padding">
  <div class="row cardholder__row">
    @include('components/shared/common/simple-card/index.html')
    @include('components/shared/common/simple-card/simple_card_2.html')
    @include('components/shared/common/simple-card/index.html')
  </div>
  <div class="row cardholder__row">
    @include('components/shared/common/simple-card/index.html')
    @include('components/shared/common/simple-card/index.html')
    @include('components/shared/common/simple-card/simple_card_2.html')
  </div>
  <div class="text-center">
    <button class="custom-btn cardholder__btn">find more fun</button>
  </div>
</div>