<div class="padding-b-100">
  <div class="container-xl">
    <h3 class="main__heading main__heading--mb">Chill and Cozy</h3>
    <div class="row">
      @include('components/shared/common/offer-card/simple-offer-card.html')
      @include('components/shared/common/offer-card/simple-offer-card.html')
      @include('components/shared/common/offer-card/simple-offer-card.html')
    </div>
    <div class="row mt-4">
      @include('components/shared/common/offer-card/simple-offer-card.html')
      @include('components/shared/common/offer-card/simple-offer-card.html')
      @include('components/shared/common/offer-card/simple-offer-card.html')
    </div>
  </div>
</div>