/* ==========================================================================
   Component -- socials
   ========================================================================== */

.socials {
  $root: &;
  //@include media-breakpoint-down(md) {}

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__icon {
    position: relative;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background-color: aqua;

    &::after {
      //@include sprite($icon-instagram);

      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      background-color: darkviolet;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";
    }

    //svg {
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  width: 25px;
    //  height: auto;
    //  padding: 0;
    //  transform: translate(-50%, -50%);
    //}
  }
}
