/* ==========================================================================
   Component -- socials
   ========================================================================== */

.socials {
  $root: &;
  //@include media-breakpoint-down(md) {}

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

  }

  &__item {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

    &:hover {
      background-color: $white;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background-color: $white;
        width: 190px;
        height: 90px;
      }

      svg {
        filter: invert(1);
      }
    }
  }

  &__link {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 16px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
