/* ==========================================================================
   Ui-kit component -- btn
   ========================================================================== */

.custom-btn {
  $root: &;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  padding: 12px 33px;
  background-color: $basic-black;
  color: $basic-white;
  font-size: 14px;
  font-family: $font-roboto-bold;
  line-height: 1.71;
  letter-spacing: 1.5px;
  border: none;
  user-select: none;
  text-transform: uppercase;
  box-shadow: 0 15px 10px 0 rgba($basic-black, 0.2);
  transition: color 0.3s;

  &:hover {
    text-decoration: none;
    color: $light-grey-blue;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.8;
  }

  &--block {
    display: flex;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}