// restyle owl carousel
.owl-carousel.owl-theme {
  width: 100%;
  margin: 0 auto;

  .owl-stage-outer {
    position: relative;
  }

  .owl-stage {
    display: flex;
    align-items: center;
  }

  .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.owl-theme .owl-nav {
    margin-top: 0;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    left: -25px;
    outline: none;
    transform: translateY(-50%);

    span {
      font-size: 40px;
    }
  }

  .owl-next {
    right: -25px;
    left: auto;
  }

  .owl-dot span {
    margin: 5px;
    background-color: $light-grey-blue;
    outline: none;
    opacity: 0.45;
  }

  .owl-dot.active {
    outline: none;
  }

  .owl-dot.active span {
    background-color: $gunmetal;
    opacity: 1;
  }

  &.owl-theme .owl-nav [class*="owl-"]:hover {
    color: $light-grey-blue;
    text-decoration: none;
    background: none;
    outline: none;
  }
}

.custom-slider {

  @media (max-width: (992px)) {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  &__img {
    width: 255px;
    height: 255px;
    object-fit: cover;
  }
}

//for image inside lightbox

.carousel-item {

  .carousel-img {
    width: 100%;
    height: 70vh;
    object-fit: contain;
  }
}