/* ==========================================================================
   Ui-kit component -- form
   ========================================================================== */

/*
   Form layout
   -------------------------------------------------------------------------- */

.form {
  $root: &;
  //@include media-breakpoint-down(md) {}

  background-color: aquamarine;

  &__container {

  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();
  }
}

/*
   Form elements
   -------------------------------------------------------------------------- */

%field-text {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid silver;
  resize: none;
}

@include placeholder {
  color: $black;
  font-family: $secure-fonts;
  font-style: italic;
}

.form-field {
  flex-grow: 1;
  color: $black;
  font-family: $secure-fonts;

  &__text {
    @extend %field-text;
  }

  &__checkbox {

  }

  &__radio {

  }

  &__label {
    display: inline-block;
    margin-bottom: 5px;
  }

  &__placeholder {

  }

  &__message {

  }
}
