/* ==========================================================================
   Ui-kit component -- select
   ========================================================================== */

.info-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $light-peach;
  min-width: 175px;
  min-height: 50px;
}