/* ==========================================================================
   Ui-kit component -- input
   ========================================================================== */

.custom-input {
  $root: &;

  display: inline-block;
  height: 50px;
  padding: 12px 30px;
  outline: none;
  font-family: $font-imb-regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.18px;
  cursor: pointer;
  border: 1px solid transparent;

  &--border {
    border: 1px solid $bluish-gray;
  }

  &::placeholder {
    color: $bluish-gray;
  }

  &:focus {
    outline: none;
    background-color: $white;
    color: $basic-black;
    border: 1px solid $basic-black;
  }


  &__textarea {
    min-height: 245px;
  }

  &__number {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &--dark {
    background-color: $basic-black;
    color: $basic-white;
  }

  &--dark::placeholder {
    color: $basic-white;
  }

}