/* ==========================================================================
   Ui-kit component -- table
   ========================================================================== */

.table {
  $root: &;
  //@include media-breakpoint-down(md) {}

  width: 100%;
  color: $black;
  font-family: $secure-fonts;

  &__title {
    margin-bottom: 5px;
    text-align: left;
  }

  &__head {
    text-align: center;
  }

  &__body {

  }

  th,
  td {
    padding: 10px;
    border: 1px solid $black;
  }

  th {
    background-color: silver;
  }

  td {

  }
}
