// =============================================================================
// Constants
// =============================================================================

// Colors
$white:           #fff;
$black:           #000;
$basic-black:     #141d20;
$basic-white:     #f2f4f8;
$light-peach:     #f6d3b9;
$light-grey-blue: #abc6cb;
$woodsmoke:       #111212;
$mocha:           #a27656;
$gunmetal:        #3f5458;
$bluish-gray:     #75969d;

// Fonts
$secure-fonts: Arial, Helvetica, "Nimbus Sans", Sans-serif;
$font-barlow: BarlowBold, $secure-fonts;
$font-ibm-medium: IBMPlexSansMedium, $secure-fonts;
$font-imb-regular: IBMPlexSansRegular, $secure-fonts;
$font-imb-semi: IBMPlexSansSemi, $secure-fonts;



$font-archivo-black: ArchivoBlack, $secure-fonts;
$font-roboto-regular: RobotoRegular, $secure-fonts;
$font-roboto-bold: RobotoBold, $secure-fonts;
$default-font-size: 16px;

// =============================================================================
// Variables
// =============================================================================

// body
$body-bg: $white;
$body-color: $basic-black;
$body-font-family: $font-archivo-black;
$body-font-size: $default-font-size;