.info {
  $root: &;

  display: flex;
  flex-direction: column;
  min-height: 740px;
  background-color: $basic-white;

  &__content {
    padding-left: 95px;
    padding-right: 95px;
    display: flex;
    flex-direction: column;
  }

  &__col {
    column-count: 2;
    column-gap: 100px;
    text-align: left;
  }

}
