<div class="info bg-basic-white">
  <div class="container-xl padding-all">
    <h3 class="main__title main__title--mb">The Experience</h3>
    <div class="main__text info__col">
      There’s a saying that resonates with Susan’s Travel ‘Don’t be sad it’s over, be
                                     glad
                                 it happened!’

                          Our single-minded goal is to make every one of our clients glad they chose us. The difference between good and great travel experiences is the personal touch; customised, expert service from people who care; the kind of service Susan’s Travel’s clients have experienced since 2001. For almost two decades founder Susan Williams-Knill has been making great travel experiences happen.
      When it comes to building long-standing relationships based on mutual trust and respect,
                           we do not merely make a difference, we ARE the difference.
      By listening carefully to the travel wishes of every corporate and leisure client, we get to know their wants and requirements, and we present solutions that are cost effective:
      • Flight included
      • Accomodation included
      • Full tour package
      • Guided cycling tour on demand
      • Up to 15 people for Group Tours

      Let us arrange any train journeys, day tours and or other form of travel arrangements. It’s our absolute pleasure to ensure yours.
    </div>
  </div>
  <div class="container-lg custom-slider padding-b-100">
    <div class="owl-carousel js-carousel owl-theme">
      <img class="custom-slider__img" src="./assets/img/hero.jpg"/>
      <img class="custom-slider__img" src="./assets/img/hero.jpg"/>
      <img class="custom-slider__img" src="./assets/img/hero.jpg"/>
      <img class="custom-slider__img" src="./assets/img/hero.jpg"/>
      <img class="custom-slider__img" src="./assets/img/hero.jpg"/>
      <img class="custom-slider__img" src="./assets/img/hero.jpg"/>
      <img class="custom-slider__img" src="./assets/img/hero.jpg"/>
      <img class="custom-slider__img" src="./assets/img/hero.jpg"/>
    </div>
  </div>
</div>