/* ==========================================================================
   Component -- header
   ========================================================================== */

.header {
  $root: &;

  display: flex;
  min-height: 80px;
  overflow: hidden;
  padding: 15px 0;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.5);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
