/* ==========================================================================
   Component -- header
   ========================================================================== */

.header {
  $root: &;

  display: flex;
  min-height: 80px;
  overflow: hidden;
  padding: 15px 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
