/* ==========================================================================
   Component -- header
   ========================================================================== */

.header {
  $root: &;

  display: flex;
  min-height: 80px;
  overflow: hidden;
  background-color: $basic-black;
}
