.hero {
  $root: &;

  display: flex;
  flex-direction: column;
  min-height: 760px;
  background-color: $light-peach;

  &__content {
    position: relative;
    height: 100%;
    flex-grow: 1;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 760px;
    top: 28px;
    bottom: -28px;
    left: 95px;
    background: url('../../../assets/img/hero.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__info {
    top: 200px;
    position: relative;
    background-color: $basic-white;
    padding: 70px 95px 60px;
    max-width: 570px;
    width: 100%;
    z-index: 10;
  }

  &__text {
    font-size: 16px;
    font-family: $font-roboto-bold;
    line-height: 1.5;
    letter-spacing: 0.11px;
    color: $woodsmoke;
  }

}
