<div class="hero padding-100">
    <div id="#trigger1"></div>
    <img class="hero__img" id="pin1" src="./assets/img/hero.jpg"/>
    <div class="hero__content">
      <div class="hero__block">
        <h3 class="main__heading hero__heading" id="pin2">Experience </br >
                                                the Difference</h3>
        <div id="trigger3">
          <img class="hero__block-img" src="./assets/img/sea.jpg"/>
        </div>
      </div>
      <div class="hero__info" id="#trigger2">
        <h3 class="main__title">Be on Your Way to a Travel Adventure </br> Today</h3>
        <p class="main__desc hero__text" id="pin4">Far Off Places,
                                         Ready to be Explored</p>
        <button class="custom-btn hero__btn">FIND OUT MORE</button>
        <h3 class="main__heading hero__title">Experience </br >
                                                          the Difference</h3>
        <div class="main__text" id="pin3">
          There’s a saying that resonates with Susan’s Travel ‘Don’t be sad it’s over, be
          glad
          it happened!’

          Our single-minded goal is to make every one of our clients glad they chose us. The difference between good and great travel experiences is the personal touch; customised, expert service from people who care; the kind of service Susan’s Travel’s clients have experienced since 2001. For almost two decades founder Susan Williams-Knill has been making great travel experiences happen.
          When it comes to building long-standing relationships based on mutual trust and respect,
          we do not merely make a difference, we ARE the difference. By listening carefully to the travel wishes of every corporate and leisure client, we get to know their wants and requirements, and we present solutions that are cost effective, comprehensive and tailored to suit each client’s specific needs.

          Using the latest, industry-leading technologies, together with excellent, time-proven supplier relationships, Susan’s Travel will get you the best rates on your flights, car rentals, accommodation, tour operators, and more. Let us arrange any train journeys, day tours and or other form of travel arrangements. It’s our absolute pleasure to ensure yours.
        </div>
      </div>
    </div>
</div>