<div class="hero bg-gb">
  <div class="container-xl hero__content">
    <img src="./assets/img/hero.jpg"  class="hero__img" />
    <div class="hero__info">
      <h3 class="main__title main__title--mb">Cape Peninsula Full Day Tour incl. Transfer</h3>
      <div class="row">
        <div class="col-md-8">
          <div class="mb-4">
            @include('components/shared/common/icon-card/icon_card_2.html')
          </div>
          @include('components/shared/common/icon-card/index.html')
        </div>
        <div class="hero__action">
          <div class="info-label mb-2">
            <span class="main__desc main__desc--accent">from</span>
            <h3 class="main__subtitle ml-2">R 28400</h3>
          </div>
          <a href="#quote" class="custom-btn">get a quote</a>
        </div>
      </div>
    </div>
  </div>
</div>