.details {
  $root: &;
  position: relative;
  min-height: 800px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 95px;
    max-width: 730px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(20, 29, 32, 0.5);
    margin-bottom: 16px;
  }

}
