<div class="details">
  <img src="./assets/img/offer.jpg"  class="details__img" />
  <div class="details__info">
    <h3 class="main__heading main__heading--white mb-4">Cape Peninsula Full Day Tour incl. Transfer</h3>
    <div class="mb-4 d-flex align-items-center">
      <span class="main__text main__text--white">From</span>
      <h3 class="main__subtitle main__subtitle--white ml-2">R 28400</h3>
    </div>
    <div class="row flex-column flex-md-row align-items-center">
      @include('components/shared/common/icon-card/icon_card_2.html')
      <div class="ml-0 ml-md-5">
        @include('components/shared/common/icon-card/index.html')
      </div>
    </div>
    <button href="#quote" class="custom-btn custom-btn--white mt-4">get a quote</button>
  </div>
</div>