/* ==========================================================================
   Component -- icon-svg
   ========================================================================== */

.icon-svg {
  $root: &;
  //@include media-breakpoint-down(md) {}

  position: relative;
  width: px-to-rem(40px);
  height: px-to-rem(40px);
  text-indent: -9999px;
  background-color: aqua;

  svg {
    @extend %centring-position;

    width: 50%;
    height: 50%;
    background-color: red;
    border-radius: 50%;
  }

  &--size-inherit {
    width: 100%;
    height: 100%;
  }

  //&--size1 {
  //  width: px-to-rem(40px);
  //  height: px-to-rem(40px);
  //}
}
