<div class="padding-100">
  <div class="container-xl">
    <h3 class="main__heading main__heading--mb text-center">Special Offers</h3>
    <div class="row">
      @include('components/shared/common/offer-card/index.html')
      @include('components/shared/common/offer-card/offer_card_2.html')
      @include('components/shared/common/offer-card/index.html')
    </div>
    <div class="row mt-md-4">
      @include('components/shared/common/offer-card/index.html')
      @include('components/shared/common/offer-card/offer_card_2.html')
      @include('components/shared/common/offer-card/index.html')
    </div>
  </div>
</div>