<div class="footer">
  <div class="container-lg">
    <div class="row">
      <div class="col-lg-3 col-md-12 footer__block">
        <p class="main__desc main__desc--primary footer__title">
          Club Travel © 2020
        </p>
        @include('components/shared/common/logo/logo.html')
    </div>
    <div class="footer__block footer__block--col col-lg-3 col-md-12">
      <h5 class="main__desc main__desc--primary footer__title">quick links</h5>
      <a href="#" class="main__desc footer__item">HOME</a>
      <a href="#" class="main__desc footer__item">book today</a>
      <a href="#" class="main__desc footer__item">contact us</a>
      <a href="#" class="main__desc footer__item">activities</a>
    </div>
    <div class="col-lg-3 col-md-12 footer__block footer__block--col align-items-center align-items-lg-start">
      <h5 class="main__desc main__desc--primary footer__title">social media</h5>
      <a href="#" class="footer__item">
        @include('components/shared/common/icon-card/icon_card_fb.html')
      </a>
      <a href="#" class="footer__item">
        @include('components/shared/common/icon-card/icon_card_ig.html')
      </a>
      <a href="#" class="footer__item">
        @include('components/shared/common/icon-card/icon_card_whu.html')
      </a>
    </div>
    <div class="col-lg-3 col-md-12 footer__block footer__block--col">
      <h5 class="main__desc main__desc--primary footer__title">contact details</h5>
      <a class="main__desc footer__item" href="mailto:info@clubtravel.co.za">info@clubtravel.co.za</a>
      <a class="main__desc footer__item" href="tel:+27123456789">+27 12 345 6789</a>
    </div>
  </div>
</div>