/* ==========================================================================
   Component -- footer
   ========================================================================== */

.footer {
  $root: &;

  &__item {
    cursor: pointer;
    color: $basic-white;
    transition: color 0.3s;

    .main__desc {
      color: $basic-white;
      transition: color 0.3s;
    }

    &:hover {
      text-decoration: none;
      color: $light-grey-blue;

      .main__desc {
        color: $light-grey-blue;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 24px;
  }
}
