/* ==========================================================================
   Component -- footer
   ========================================================================== */

.footer {
  $root: &;
  //@include media-breakpoint-down(md) {}

  display: flex;
  flex-direction: column;
  min-height: inherit;
  overflow: hidden;
  background-color: red;


}
