<div class="bg-peach">
  <div class="container-xl padding-all min-height-360">
    <div class="row">
      <div class="col-lg-5">
        <h3 class="main__title mb-4">Want to <br/>
                                     Stay in Touch?</h3>
        <p class="main__text">Subscribe to our Newsletter!<br/>
                              No spam guaranteed →</p>
      </div>
      <div class="offset-lg-1 col-lg-4 mt-4 mt-lg-0">
        <input class="custom-input custom-input--border w-100 mb-4" placeholder="your e-mail"/>
        <button class="custom-btn w-100">subscribe</button>
      </div>
    </div>
  </div>
</div>