<div class="subscribe">
  <div class="container-xl subscribe__content">
    <div class="row">
      <div class="col-md-6">
        <h3 class="main__title mb-4">Want to <br/>
                                     Stay in Touch?</h3>
        <p class="main__text">Subscribe to our Newsletter!<br/>
                              No spam guaranteed →</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <input class="custom-input custom-input--border w-100 mb-4" placeholder="your e-mail"/>
        <button class="custom-btn w-100">subscribe</button>
      </div>
    </div>
  </div>
</div>