<div class="bg-basic-black">
  <div class="container-xl padding-all min-height-360">
    <div class="row w-100 justify-content-lg-between">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h3 class="main__heading main__heading--white mb-4">We’re in
          <br/> Social Media</h3>
        <p class="main__text main__text--white">Any questions? Drop us a line</p>
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-lg-end">
        @include('components/shared/common/socials/socials_white.html')
      </div>
    </div>
  </div>
</div>