<div class="offers">
  <div class="container-xl">
    <div class="row">
      <h3 class="main__title main__title--mb col-sm-4">Top Selling Things To Do</h3>
      <div>
        @include('components/shared/common/filter-form/index.html')
      </div>
    </div>
    <div class="row">
      @include('components/shared/common/offer-card/offer_card_wide.html')
      @include('components/shared/common/offer-card/index.html')
    </div>
    <div class="row mt-4">
      @include('components/shared/common/offer-card/index.html')
      @include('components/shared/common/offer-card/offer_card_2.html')
      @include('components/shared/common/offer-card/index.html')
    </div>
  </div>
</div>