<div class="padding-100">
  <div class="container-xl">
    <div class="row align-items-center mb-4">
      <h3 class="main__heading col-lg-4">Top Selling Things To Do</h3>
      <div class="col-lg-8">
        @include('components/shared/common/filter-form/index.html')
      </div>
    </div>
    <div class="row">
      @include('components/shared/common/main-card/index.html')
      @include('components/shared/common/offer-card/index.html')
    </div>
    <div class="row mt-4">
      @include('components/shared/common/offer-card/index.html')
      @include('components/shared/common/offer-card/offer_card_2.html')
      @include('components/shared/common/offer-card/index.html')
    </div>
  </div>
</div>