<div class="subscribe container-xl">
  <div class="row">
    <div class="col-lg-6 subscribe__form">
      <div class="col-lg-6 com-md-6">
        <h3 class="main__heading main__heading--white mb-2">Want to Stay <br/> in Touch?</h3>
        <p class="main__desc main__desc--white mb-4">Subscribe to our Newsletter.<br/>
                                                     No spam guaranteed!</p>
        <input class="custom-input custom-input--dark w-100 mb-3" placeholder="Your e-mail"/>
        <button class="custom-btn custom-btn--white w-100">subscribe</button>
      </div>
    </div>
    <div class="col-lg-6 d-none d-lg-block"></div>
    <div class="col-lg-6 d-none d-lg-block">
    </div>
    <div class="col-lg-6 subscribe__social row">
      <div class="col-lg-4 col-md-3">
        <h3 class="main__heading mb-5">We’re
                                       social</h3>
        <p class="main__desc">Any questions? Drop us a line</p>
      </div>
      <div class="col-lg-4 col-md-3">
        @include('components/shared/common/socials/socials.html')
      </div>
    </div>
  </div>
</div>