/* ==========================================================================
   Component -- nav
   ========================================================================== */

.navigation {
  $root: &;

  width: 100%;
  margin: 0;
  font-size: 14px;
  font-family: $font-roboto-bold;
  line-height: 1.71;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  .nav-item {

    &:not(:last-of-type) {
      position: relative;
      margin-right: 48px;

      &:hover {

        &:before {
          content: '→';
          color: $light-grey-blue;
          font-family: $font-archivo-black;
          position: absolute;
          left: -15px;
          top: 40%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .nav-link {
    color: $basic-white !important;
    padding: 0;

    &:hover {
      text-decoration: none;
      color: $light-grey-blue !important;
    }

    &.active,
    &.active:hover {
      color: $light-grey-blue !important;
      text-decoration: none;
    }
  }

  &__button {
    padding: 8px 36px;
    cursor: pointer;
    border: 1px solid $light-grey-blue;

    .nav-link {
      padding: 0;
    }
  }
}
