<div class="map">
  <div class="map__img"></div>
  <div class="container-xl padding-100">
    <h3 class="main__heading main__heading--mb">Contact Us</h3>
    <div>
      <div class="map__link">
        @include('components/shared/common/icon-card/icon_card_mail-lg.html')
      </div>
      <div class="map__link">
        @include('components/shared/common/icon-card/icon_card_phone-lg.html')
      </div>
      <a class="map__link" href="https://goo.gl/maps/vSZSE7smDeBdjRMN9" target="_blank">
        @include('components/shared/common/icon-card/icon_card_address-lg.html')
        <div class="map__info">
          <span>1234 Street</span>
          <span>Cape Town</span>
          <span>Western Cape</span>
          <span>South Africa</span>
        </div>
      </a>
    </div>
  </div>
</div>